<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform" /> 
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>{{.Title}}</title>    

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/ll_main.css">

    <style type="text/css"> 
        /* 在屏幕宽度小于960px的时候执行的样式 */
        @media(max-width:960px)
        {
            footer{display:none}
        }
    </style>
</head>

<body>
    <header>
        <p>导航:选择城市/搜索小区/登录显示</p>
    </header>

    <article>
        <div id="show">
            <p>图片轮播展示：买房、卖房、租房</p>
        </div>

        <div id="link_nav">
            <p>链接：邻里新闻/邻里互助/邻里市场/邻里论坛/邻里投票/买房、卖房、租房/物业</p>
        </div>

        <div id="info">
            <p>标签导航：全部/邻里新闻/邻里论坛/邻里互助</p>
        </div>
    </article>

    <footer>
        <p class="copyright">
            <a href="#" title="" target="_blank">Copyright © 2013. All Rights Reserved by KnowledgeBase.Collect from</a>
        </p>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/static/js/ll_main.js"></script>
</body>

</html>